.bundle
db/*.sqlite3
log/*.log
tmp/logs/*
tmp/sass-cache
tmp/pids/*
Gemfile.lock
config/database.yml
config/environments/production.rb
config/environments/development.rb
*~
db/schema.rb
public/javascripts/all.js
public/javascripts/all_back.js
public/javascripts/all_login.js
.ssh-agent
public/stylesheets/site/
public/stylesheets/all.css
public/stylesheets/all_back.css
public/stylesheets/all_login.css
public/images/pictures/
tmp/
log/*
.DS_Store
*.log
vendor/ruby/