@import site/main
@import site/header
@import site/middle
@import site/footer
@import site/utils

body
  background: url(/images/front/login/skin.gif) no-repeat center top

#container
  background: url(/images/front/login/skin.gif) no-repeat -71px top
  
#login_container
  height: 500px
  width: 326px
  float: right
  margin-top: 163px
  #languages
    a
      display: block
      margin-left: 30px
      margin-top: 5px
      float: right
      font-size: 13px
      text-decoration: none
      font-style: italic
      color: #77746C
      &:visited
        color: #77746C
      &:hover
        color: #378d2b
        text-decoration: underline
        

#login_form
  padding-left: 30px
  #login_text
    width: 285px
    height: 70px
    display: block
    margin: 140px 0px 0px 11px
    font-size: 14.5px
    text-align: justify
    color: #77746C
    
input
  &[type=submit]
    background: url(/images/front/login/ok.jpg) no-repeat left top
    width: 60px
    height: 30px
    border: none
    cursor: pointer
    &.ok
      float: right
  &[type=text]
    border: solid 1px #59574e
    height: 25px
    font-size: 112%
    padding: 1px 5px
    color: #59574e

textarea
  border: solid 1px #59574e
  padding: 1px 5px
  font-size: 112%
  color: #59574e
  font: 15px Arial,"Nimbus Sans L",sans-serif
  
#request_form
  text-align: right
  margin: 40px 0 0 54px
  input
    &[type=text]
      width: 250px
  .login_notice, .login_error
    width: 218px
    float: right
    margin-top: -10px

#request_code
  font-size: 85%
  margin: 40px 0 0 10px
  text-align: center
  a
    color: #378d2b

.login_notice, .login_error
  background-position: 15px 50%
  border: 1px solid #d8d8d8
  text-align: left
  padding: 5px 7px 5px 35px
  z-index: 3
  width: 243px
  margin: 5px 0 10px 10px

.login_notice
  background: #e7ffdf url(/images/back/tick.png) 10px center no-repeat
  color: #396900

.login_error
  background: #ffe4df url(/images/back/cross.png) 10px center no-repeat
  color: red

#footer
  height: 0px
